
body{
    font-family: Arial;
    background:#f2f2f2;
}

.container{
    width:600px;
    margin:100px auto;
    background:white;
    padding:20px;
    border:1px solid #ccc;
}

h3{
    border-bottom:1px solid #ccc;
    padding-bottom:5px;
}

.form-group{
    display:flex;
    margin:8px 0;
    align-items:center;
}

.form-group label{
    width:150px;
    font-size:14px;
}

.form-group input,
.form-group select,
.form-group textarea{
    flex:1;
    padding:6px;
    border:1px solid #aaa;
}

textarea{
    height:120px;
}

.radio-group input{
    margin-left:10px;
}

.buttons{
    text-align:right;
    margin-top:15px;
}

button{
    padding:8px 14px;
    border:none;
    cursor:pointer;
}

.submit{
    background:#333;
    color:white;
}

.cancel{
    background:#bbb;
}

.checkbox-group{
    display:flex;
    flex-direction:column;
}

