body{
font-family:Arial;
padding:40px;
}

.field{
margin-bottom:15px;
}

input{
padding:8px;
width:250px;
}

button{
padding:10px 20px;
background:blue;
color:white;
border:none;
cursor:pointer;
}

.error{
color:red;
font-size:13px;
display:block;
margin-top:3px;
}

#successMessage{
margin-top:20px;
font-size:18px;
color:green;
font-weight:bold;
}