
body{
    font-family: Arial;
    background:#f2f2f2;
    margin:0;
}


.navbar{
    background:#1f2428;
    color:white;
    padding:12px 30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.nav-left{
    display:flex;
    align-items:center;
    gap:20px;
}

.nav-left a{
    color:#ddd;
    text-decoration:none;
}

.search{
    display:flex;
    gap:10px;
}

.search input{
    padding:7px;
    border-radius:5px;
    border:1px solid #aaa;
}

.search button{
    padding:7px 12px;
    background:#333;
    color:white;
    border:none;
    border-radius:5px;
}


.container{
    width:90%;
    margin:30px auto;
}


.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.add-btn{
    background:#2f6fed;
    color:white;
    padding:10px 16px;
    border:none;
    border-radius:6px;
    cursor:pointer;
}


table{
    width:100%;
    background:white;
    border-collapse:collapse;
    margin-top:15px;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

th,td{
    padding:14px;
    border-bottom:1px solid #ddd;
    text-align:left;
}

th{
    background:#f7f7f7;
}


.edit{
    background:#ffc107;
    border:none;
    padding:6px 10px;
    border-radius:5px;
}

.delete{
    background:#dc3545;
    color:white;
    border:none;
    padding:6px 10px;
    border-radius:5px;
}

.modal{
    display:none;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.4);
    justify-content:center;
    align-items:center;
}

.modal-content{
    background:white;
    width:600px;
    border-radius:6px;
    overflow:hidden;
}

.modal-header{
    background:#2f6fed;
    color:white;
    padding:15px;
    display:flex;
    justify-content:space-between;
}

.modal-body{
    padding:20px;
}

.grid{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:15px;
}

.grid input,select{
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
    width:100%;
}

.modal-footer{
    padding:15px;
    text-align:right;
}

.save{
    background:#198754;
    color:white;
    border:none;
    padding:10px 16px;
    border-radius:5px;
}

.cancel{
    background:#6c757d;
    color:white;
    border:none;
    padding:10px 16px;
    border-radius:5px;
}
